html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}
.navbar {
	background-color:#990000 !important;
}
.layer-selection {
	background-color:#e0e0e0;
	position:absolute;
	bottom:0;
	top:52px;
	width:15%;
	text-align:center;
	border-right: 2px solid #999999; /* Medium Grey */
}
.layer-selection p{
	font-size:24px;
	color:#990000;
	margin:15px;
}
.layer-button {
	background-color: white;
	color: #4f4f4f;
	border: 2px solid #990000; /* Crimson */
	text-align: left;
	width:85%;
	margin-top:5px;
	margin-bottom:5px;
	transition-duration: 0.4s;
}
.layer-button:hover {
	background-color: #990000 !important;
	color: white !important;
}
.editing-area {
	background-color:white;
	position:absolute;
	bottom:0;
	top:52px;
	left:16%;
	width:70%;
	text-align:center;
	padding-left:50px;
	overflow:scroll;
}
.parameter-selection {
	background-color:#e0e0e0;
	position:absolute;
	bottom:0;
	top:52px;
	left:85%;
	width:15%;
	text-align:center;
	border-left: 2px solid #999999; /* Medium Grey */
}
.parameter-selection p {
	font-size:24px;
	color:#990000;
	margin:15px;
}
.label-input {
	margin-top:5px;
	margin-bottom:5px
}
.param-label {
	margin-left:10%;
	margin-bottom:0;
	color:#4f4f4f;
}
.param-multi-input {
	width:85%;
	margin-left:7.5%;
	margin-top:0;
	color:#4f4f4f
}
.param-single-input {
	width:100%;
	margin-left:7.5%;
	margin-top:0;
}
.desc-arrow-container {
	position:absolute;
	top:50%;
	height:150px;
	margin-top:-75px;
	width:200px;
	display:none;
	cursor: pointer;
}
.desc-container {
	box-shadow: 3px 6px 6px black;
	background-color: #b7b7b7;
	border: 4px solid #990000; /* Crimson */
	border-radius:25px;
	width:150px;
	height:150px;
}
.right-arrow {
	position:absolute;
	top:50%;
	left:150px;
	margin-top:-20px;
	width:50px;
	height:40px;
	background-size:cover;
}
.layer-title {
	font-size:24px;
}
button, input, select {
	outline: none !important;
}
.param-input {
	text-align:left;
	margin:0;
	position:absolute;
	bottom:0;
	top:52px;
	display:none;
}
#save {
	position:absolute;
	bottom:100px;
	left:32%;
	display:none;
}
#delete {
	position:absolute;
	bottom:50px;
	left:32%;
	display:none;
}